/* font */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;800;900&family=Poppins:wght@300;400;500;600;700;800&display=swap");

:root {
  --background: #02050e;
  --primary: #009fe3;
  --secondary: #272d37;
  --btn-bg: #29235c;
  --bg-azul-10: #e9eeff;
  --bg-white: #fff;
  --bg-electric: #f0fbff;
  --nav-bg: #29235c;
  --text-gray: #adb9c7;
  --text-white: #f3f4f6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style-type: none;
}

header {
  background: var(--secondary);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;
  padding: 0px 30px 0px 5px;
  position: fixed;
  top: 0;
  z-index: 2;
}

.logo {
  width: 85px;
  height: 85px;
}

.navbar,
.navbar-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar {
  gap: 150px;
}
.navbar-list {
  gap: 30px;
}

.navbar-list a {
  color: var(--text-gray);
  font-size: 14px;
}

.navbar-list li:first-child > a {
  color: var(--text-white);
  font-weight: 600;
}

.cart-icon {
  font-weight: 600;
  border-radius: 10px;
  height: 30px;
  padding: 5px 10px;
  margin-right: 1rem;
  color: var(--text-white);
  cursor: pointer;
}

main {
  background: var(--background);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  width: 100%;
}

#hk {
  margin: 150px 0 50px 0;
  padding: 70px 0;
  max-width: 1250px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.hk-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50%;
}

.hk-info h1 {
  font-size: 48px;
  width: 80%;
  min-width: 500px;
  font-weight: 800;
  color: var(--text-white);
}

.hk-info p {
  font-size: 14px;
  width: 70%;
  color: var(--text-gray);
}

.hk-info p > span {
  font-weight: 800;
}

.hk-info a {
  color: var(--text-white);
  background-color: var(--primary);
  width: 120px;
  padding: 8px 0px;
  border-radius: 10px;
  font-size: 14px;
  text-align: center;
}

.hk-card {
  width: 300px;
  background: var(--secondary);
  padding: 20px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.hk-card img {
  
  border-radius: 10px;
}


.hk-card-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.hk-card-top {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
}

.hk-card-top h3 {
  font-weight: 600;
  font-size: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.hk-card-top span {
  background-color: var(--primary);
  text-align: center;
  width: 50px;
  padding: 3px 0px;
  font-size: 14px;
  border-radius: 10px;
}

.hk-card-bottom {
  display: flex;
  justify-content: space-between;
}

.hk-card-creator {
  display: flex;
  align-items: center;
  gap: 5px;
}

.hk-card-creator img {
  height: 40px;
  width: 40px;
}


#servicios-info {
  max-width: 1250px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 80px;
  margin: 50px 0 50px 0;
  padding-top: 100px;
}

.servicios-info-h2 {
  font-size: 32px;
  font-weight: 800;
  margin-bottom: -50px;
  text-align: left;
}


.servicios-info-p {
  padding: 0 60px 0 60px;
  align-items: start;
}


.servicios-info-cards-container {
  display: flex;
  justify-content: space-around;
  align-items: self-start;
  flex-wrap: wrap;
  gap: 95px;
}
.servicios-info-card {
  width: 300px;
  height: 290px;
  padding: 40px 30px;
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: center;
  background: var(--secondary);
  border-radius: 10px;
  gap: 20px;
}

.servicios-info-card img {
  width: 50px;
}

.servicios-info-card h3 {
  font-weight: 600;
  font-size: 18px;
}

.servicios-info-card p {
  font-size: 14px;
  font-weight: 300;
  color: var(--text-gray);
  align-items: start;
  text-align: left;
}

.trabajos-section h2 {
  font-size: 32px;
  font-weight: 800;
  margin-bottom: -50px;
  text-align: center;
  padding-top: 100px;
  margin-bottom: 50px;
}



#trabajos {
  position: relative;
  max-width: 1250px; /* Ajusta el max-width según sea necesario */
  margin: 0 auto;
  overflow: hidden; /* Asegura que el contenido no se desborde */
}

.trabajos-container {
  position: relative;
}

.trabajos-slider {
  display: flex;
  flex-direction: row;
  transition: transform 0.5s ease;
}

.trabajos-slider > div {
  display: flex;
  flex-direction: row;
}

.trabajo-card {
  width: 300px; /* Ancho de cada card */
  height: 300px; /* Altura de cada card */
  margin-right: 10px; /* Gap entre las imágenes */
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}

.trabajo-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.3s ease;
  border-radius: 10px;
}


  .trabajo-info {
    color: white;
    text-align: center;
  }


  .trabajo-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Filtro oscuro */
    opacity: 0;
    display: flex;
    align-items: center; /* Centra verticalmente el contenido */
    justify-content: center; /* Centra horizontalmente el contenido */
    transition: opacity 0.3s ease;
  }

.trabajo-card:hover .trabajo-overlay {
  opacity: 1;
  cursor: pointer;
}

.portfolio-card:hover .trabajo-overlay {
  opacity: 1;
  cursor: pointer;
}

.nav-btn {
  position: absolute;
  top: 50%;
  background: #272d37;
  color: white;
  font-size: 20px;
  font-weight: bolder;
  border: none;
  padding: 5px;
  cursor: pointer;
  z-index: 100;
}

#prev {
  left: 0;
}

#next {
  right: 0;
}

.trabajos-slider-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

.trabajos-slider {
  display: flex;
  flex-direction: row;
  width: calc(300px * 4 + 10px * 3); /* Ajuste el ancho total visible */
  transition: transform 0.5s ease;
}






#portfolio {
  position: relative;
  max-width: 1250px; /* Ajusta el max-width según sea necesario */
  margin: 0 auto;
  padding-top: 10px;
}

.portfolio-container {
  position: relative;
  overflow: hidden;
}

.portfolio-slider {
  display: flex;
  flex-wrap: nowrap;
  transition: transform 0.5s ease;
}

.portfolio-slider > div {
  display: flex;
  flex-direction: row;
}

.portfolio-card {
  width: 300px; /* Ancho de cada card */
  height: 300px; /* Altura de cada card */
  margin-right: 10px; /* Gap entre las imágenes */
  box-sizing: border-box;
  position: relative;
}

.portfolio-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.3s ease;
  border-radius: 10px;
}

.portfolio-info {
  color: white;
    text-align: center;
}

.portfolio-card:hover .portfolio-info {
  opacity: 1;
}


  .nav-btn-portfolio {
    position: absolute;
  top: 50%;
  background: #272d37;
  color: white;
  font-size: 20px;
  font-weight: bolder;
  border: none;
  padding: 5px;
  cursor: pointer;
  z-index: 100;
  }
  
  #prev-portfolio {
    left: 0px; /* Ajusta según sea necesario */
  }
  
  #next-portfolio {
    right: 0px; /* Ajusta según sea necesario */
  }
  

.portfolio-slider-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

.portfolio-slider {
  display: flex;
  flex-direction: row;
  width: calc(300px * 4 + 10px * 3); /* Ajuste el ancho total visible */
  transition: transform 0.5s ease;
}

/* Informacion de contacto */
footer {
  padding: 50px 0 100px 0;
  background-color: #02050e;
}


.contacto__hdos {
  display: flex;
  justify-content: center;
  color: #fff;
  padding-left: 50px;
  font-size: 32px;
  font-weight: 800;
  text-transform: none;
  padding-bottom: 50px;
  padding-top: 150px;
}



.contacto__container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #000110;
  background-color: #272d37;
  border-radius: 10px;
  margin-left: 350px;
  margin-right: 350px;
  padding: 50px;
  
}


.footer-hcuatro {
  display: flex;
  justify-content: center;
  font-weight: 300;
  font-size: 25px;
  color: #e9eeff;
  padding-bottom: 20px;
}




/* Redes Sociales */


.contacto__redes {
  display: flex;
  flex-direction: column;
  align-items: start;
  border-radius: 15%;
  text-decoration: none;
  color: #000110;
  font-weight: 550;
}

.contacto__redes-a{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px 0px 20px 0px;
  border-radius: 15%;
  text-decoration: none;
  color: #fff;
  font-weight: 600;
}



.contacto__redes-a font {
  padding: 10px;
}

