/* font */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;800;900&family=Poppins:wght@300;400;500;600;700;800&display=swap");

:root {
  --background: #02050e;
  --primary: #009fe3;
  --secondary: #272d37;
  --btn-bg: #29235c;
  --bg-azul-10: #e9eeff;
  --bg-white: #fff;
  --bg-electric: #f0fbff;
  --nav-bg: #29235c;
  --text-gray: #adb9c7;
  --text-white: #f3f4f6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style-type: none;
}

header {
  background: var(--secondary);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;
  padding: 0px 30px 0px 5px;
  position: fixed;
  top: 0;
  z-index: 2;
}

.logo {
  width: 70px;
  height: 110px;
}

.navbar,
.navbar-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar {
  gap: 150px;
}
.navbar-list {
  gap: 30px;
}

.navbar-list a {
  color: var(--text-gray);
  font-size: 14px;
}

.navbar-list li:first-child > a {
  color: var(--text-white);
  font-weight: 600;
}

.cart-icon {
  font-weight: 600;
  border-radius: 10px;
  height: 30px;
  padding: 5px 10px;
  margin-right: 1rem;
  color: var(--text-white);
  cursor: pointer;
}

main {
  background: var(--background);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  width: 100%;
}

#hk {
  margin-top: 65px;
  padding: 70px 0;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hk-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50%;
}

.hk-info h1 {
  font-size: 48px;
  width: 80%;
  min-width: 500px;
  font-weight: 800;
  color: var(--text-white);
}

.hk-info p {
  font-size: 14px;
  width: 70%;
  color: var(--text-gray);
}

.hk-info p > span {
  font-weight: 800;
}

.hk-info a {
  color: var(--text-white);
  background-color: var(--primary);
  width: 120px;
  padding: 8px 0px;
  border-radius: 10px;
  font-size: 14px;
  text-align: center;
}

.hk-card {
  width: 300px;
  background: var(--secondary);
  padding: 20px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.hk-card-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.hk-card-top {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
}

.hk-card-top h3 {
  font-weight: 600;
  font-size: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.hk-card-top span {
  background-color: var(--primary);
  text-align: center;
  width: 50px;
  padding: 3px 0px;
  font-size: 14px;
  border-radius: 10px;
}

.hk-card-bottom {
  display: flex;
  justify-content: space-between;
}

.hk-card-creator {
  display: flex;
  align-items: center;
  gap: 5px;
}

.hk-card-creator img {
  height: 40px;
  width: 40px;
}

#info {
  padding: 70px 0;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 80px;
}

#info h2 {
  font-size: 32px;
  font-weight: 800;
}

#nosotros-info {
  padding: 70px 0;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 80px;
}

#nosotros-info h2 {
  font-size: 32px;
  font-weight: 800;
}

.info-cards-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 20px;
}
.info-card {
  width: 300px;
  height: 290px;
  padding: 40px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: var(--secondary);
  border-radius: 10px;
  gap: 20px;
}

.info-card img {
  width: 50px;
}

.info-card h3 {
  font-weight: 600;
  font-size: 18px;
}

.info-card p {
  font-size: 14px;
  font-weight: 300;
  color: var(--text-gray);
}

.sobre-nosotros {
  width: 90%;
  background: var(--secondary);
  padding: 20px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

#servicios-info {
  padding: 70px 0;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 80px;
}

#servicios-info h2 {
  font-size: 32px;
  font-weight: 800;
  margin-bottom: -40px;
}



.servicios-info-cards-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 20px;
}
.servicios-info-card {
  width: 300px;
  height: 290px;
  padding: 40px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: var(--secondary);
  border-radius: 10px;
  gap: 20px;
}

.servicios-info-card img {
  width: 50px;
}

.servicios-info-card h3 {
  font-weight: 600;
  font-size: 18px;
}

.servicios-info-card p {
  font-size: 14px;
  font-weight: 300;
  color: var(--text-gray);
}




/* Informacion de contacto */
footer {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #02050e;
}


.contacto__hdos {
  display: flex;
  justify-content: center;
  color: #fff;
  padding-left: 50px;
  font-size: 32px;
  font-weight: 800;
  text-transform: none;
  padding-bottom: 50px;
}



.contacto__container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #000110;
  padding-bottom: 20px;
}


.footer-hcuatro {
  display: flex;
  justify-content: center;
  padding-left: 30px;
  color: #e9eeff;
}




/* Redes Sociales */


.contacto__redes {
  display: flex;
  flex-direction: column;
  align-items: start;
  border-radius: 15%;
  text-decoration: none;
  color: #000110;
  font-weight: 550;
}

.contacto__redes-a{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 30px;
  border-radius: 15%;
  text-decoration: none;
  color: #fff;
  font-weight: 300;
}

.contacto-redes {
  padding-top: 30px;
}
.contacto-redes a {
  padding-top: 5px;
  margin: 5px;

}




.contacto-imagen {
  width: 300px;
  height: 400px;
}